# Verilator-generated build files
sim/

# Verilator generated binaries/build artifacts
obj_dir/
*.mk
*.cpp
*.h
*.d
*.dat

# Simulation outputs
*.vcd
*.log
*.out
*.tmp

# Editor files
.vscode/
.idea/
.DS_Store
